@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Poppins:wght@400;700&display=swap');

body {
    height: 100vh;
    width: 100%;
    padding: 2em 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #E6CE2B;
    color: #fff;
}

.pokemon-logo {
    margin-bottom: 1em;
}
.click-to-flip {
    font-family: 'Lobster Two', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}